/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-mar-2017, 11:12:13
    Author     : daw
*/
#fondoTab1, #fondoTab2, #fondoTab3, #fondoTab4{
    -fx-background-image: url(file:///C:/Users/daw/Documents/NetBeansProjects/pizzaV1.0/img/cabecera.png);
}

#pane1, #pane2, #pane3{
   -fx-background-image: url(file:///C:/Users/daw/Documents/NetBeansProjects/pizzaV1.0/img/cuatroQueso.png);
   -fx-background-size: 60px 60px;
}

#paneMasa, #paneTipoPizza, #paneIngredientes, #paneTamano, #panePedido{
    -fx-background-color: rgba(193,8,16,0.3);
    -fx-background-radius: 15px;
}

#paneMasa:hover, #paneTipoPizza:hover, #paneIngredientes:hover, #paneTamano:hover, #panePedido:hover{
    -fx-background-color: rgba(193,8,16,1);
}


.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane{
    -fx-tab-min-width:159px;
}

.tab-pane .tab{
    -fx-background-color: rgba(195,8,15,0.8);

}

.tab-pane .tab:selected{
    -fx-background-color: rgb(135,0,6);
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
}

